{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="login" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="password">

        <input type="submit" value="Sign in" />

        <a href="{% url 'register' %}">I don't have an account yet</a>
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Register" />
    </form>
</div>

{% endif %}

{% endblock content %}