<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>

{% extends 'main.html' %}

{% block content %}

<h1>{{room.name}}</h1>
<p>{{ room.description }}</p>

<div class="comment-wrapper">
    <h3>Comments</h3>
    <hr>

    {% for message in room_messages %}
        <div>
            <small>@{{message.user}} {{message.created|timesince}} ago</small>
            <p>{{message.body}}</p>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Type comment here..." />
    </form>
</div>
{% else %}
<div>
    <p><a href="{% url 'login' %}">Sign in</a> to leave a message</p>
</div>
{% endif %}

{% endblock %}

</body>
</html>